/* doc */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fffff3;
}


/* buttons */

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.25rem;
    font-family: "Xanh Mono", monospace;
}

#empty {
    border: 1px black dashed;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.75rem;
    grid-column: span 2;
    font-size: .9rem;
    text-align: center;
    font-style: italic;
    padding-top: 0.8rem;
}

#client {
    background-color:#bbce00;
}

#work, #client, #info {
    border: 1px black dashed;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.75rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    cursor: pointer;
}

#work, #info {
    transition: .5s ease-in-out;
}

#work:hover, #info:hover {
    background-color: #bbce00;
    border: 1px #bbce00 dashed;
}

#work:active, #client:active, #info:active {
    background-color: #bbce00;
}

.right {
    height: 35rem;
    overflow: auto;
  }

/* grid */

.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    position: relative;
    margin: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

hr {
    border: 1px black dashed;
}

.title {
    font-family: "Xanh Mono", monospace;
    font-size: 1.5rem;
}

.year {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header {
    grid-area: header;
}

.element img {
    object-fit: cover;
    width: 100%;
    height: auto;
    align-content: baseline;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.row {
    grid-area: row;
}



/* hover animation */

.element .nav {
    transition: .3s ease-in-out;
}

  .element .title {
    transition: .3s ease-in-out;
  }
  .element:hover .title { 
    color: #bbce00;
  }



  .element .year{
    transition: .3s ease-in-out;
  }
  .element:hover .year{ 
    color: #bbce00;
  }

  .element:hover a{ 
      color: #bbce00;
  }

  .element>div {
      background-color: #9999;
      color: #fff;
  }
  .element:hover div{ 
      opacity: 10%;
  }

  .overlay {
    position: relative;
    display: inline-block;
    background: #bbce00;
    display: inline-block;
    border-radius: 0.5rem;
  }
  
  .overlay > img {
    vertical-align: middle;
  }
  
  .overlay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #bbce00;
    opacity: 0;
    transition: .5s ease;
  }
  
  .overlay:hover::before {
    opacity: 0.2;
    border-radius: 0.5rem;
  }



/* smartphone */
@media only screen and (max-width: 480px), (orientation: portrait) {

   .nav {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 2rem;
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .grid {
        grid-template-columns: minmax(75%, 95%);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #work:hover, #info:hover, #writing:hover {
        transform: rotate(0deg);
    }

    #empty {
        display: none;
    }

    .grid {
        margin-top: 2rem;
    }

    .year {
        font-size: 1rem;
    }
  }

  /*tablet*/
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

        .grid {
            margin-top: 3rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }

        .nav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: 2rem;
            text-align: center;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            margin-top: 2rem;
        }

        #work:hover, #info:hover, #writing:hover {
            transform: rotate(0deg);
        }

        #empty {
            display: none;
        }

        .year {
            font-size: 1rem;
        }
  }