html {
    background-color: #fdffe3;
    color: black;
}


@font-face {
    font-family: Kadabra;
    src: url(./Kadabra.ttf) format(OpenType);
}

h1 {
    font-family: Kadabra, 'Courier New', Courier, monospace;
    font-size: 120px;
    text-align: center;
    color: #cbdc4e;
    line-height: 110px;
}

.p-info {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1.5em;
    text-align: left;
}

#interests {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1em;
    text-align: left;
}


.title {
    font-family: Kadabra, "Space Mono", 'Courier New', Courier, monospace;
    font-size: 2em;
    letter-spacing: -1.25px;
    position: relative;
    grid-row-start: 1;
    grid-row-end: 5;
    text-align: left;
    color: #cbdc4e;
    left: 30px;
}

.highlight {
    color: #c79dc8;
}


.grid-info {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 50px;        
    row-gap: 30px;
    top: 100px;
    position: relative;
    margin: 50px;
    position: relative;
    top: 150px;
}

.header {
    color: #cbdc4e;
    z-index: 1;
    position: fixed;
    display:inline;
    top: 0px;
}

.header {    
    left: 50px;
    font-size: 2.5rem;
}

#right {
    display: relative;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
    font-size: 20px;
}

#left {
    display: relative;
    position: fixed;
    top: 50px;
    right: 150px;
    z-index: 1;
    font-size: 20px;
}

.header p {
    top: 10px;
    font-family: "Space Mono", 'Courier New', Courier, monospace;
}



.header p a, #left, #right {
    color: black;
    text-decoration: none;
    border: 2px dotted #c79dc8;
    border-radius: 50%;
    padding: 0 20px 10px 20px;
    text-align: center;
    background-color:#fdffe3;
}



.header p a:hover, #left:hover, #right:hover {
    color: #c79dc8;
    transform: rotate(-20deg);
}

.header p a:active, #left:active, #right:active {
    color: #cbdc4e;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover{
    color:#c79dc8;
    cursor: crosshair;
    transform: rotate(-20deg);
}


a:active {
    color: #cbdc4e;
}

h4 {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: left;
    font-style: italic;
}

ul {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-size: 1em;
    text-align: left;
}

.small-text {
    font-size: .85em;
    font-style: italic;
    color:#c79dc8;
}

#email {
    font-size: 1em;
    color:#c79dc8;
}

.footer-info {
    font-family: "Space Mono", 'Courier New', Courier, monospace;
    font-size: .75em;
    text-align: center;
    margin: 50px;
    position: relative;
}

.info-pix {
    border-radius: 5%;
    border: 2px solid black;
    object-fit: cover;
    width: 100%;
    height: auto;
}

hr {
    border: 1px solid black;
}