/* doc */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fffff3;
}

/*type */
h1 {
    font-family: "Xanh Mono", monospace;
}


/* buttons */

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 1.25rem;
    font-family: "Xanh Mono", monospace;
}

#empty {
    border: 1px black dashed;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.75rem;
    grid-column: span 4;
    font-size: .9rem;
    text-align: center;
    font-style: italic;
    padding-top: 0.8rem;
}
 
#work {
    font-size: 1.25rem;
    font-weight:bold;
    letter-spacing: -0.4rem;
    text-decoration: none;
}

#work, #writing, #info {
    border: 1px black dashed;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0.75rem;
    text-align: center;
}

a {
    font-family: "Xanh Mono", monospace;
    font-style: italic;
    text-decoration: none;
    color: black;
}

a .links:active {
    background-color: #bbce00;
}

a:hover {
    color: #bbce00;
    cursor: pointer;
}

#work, #info {
    transition: .5s ease-in-out;
}

#work:hover, #info:hover {
    background-color: #bbce00;
    border: 1px #bbce00 dashed;
    color: black;
}

#work:active, #writing:active, #info:active {
    background-color: #bbce00;
}


/*grid*/

.grid {
    display:grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
    position: relative;
    margin: 0 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.portfolio-image img {

    object-fit: cover;
    width: 100%;
    height: auto;
}

.grid p {
        font-size: 20px;
        line-height: 28px;
}

.title {
    font-size: 1.5rem;
    font-family: "Xanh Mono", monospace;
}

hr {
    border: 1px black dashed;
}

h4 {
    z-index: 1;
}

#arrow {
    font-size: 20px;
}

.video video {
    object-fit: cover;
    width: 100%;
    height: auto;
}

/* smartphone */
@media only screen and (max-width: 480px), (orientation: portrait) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 2rem;
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    #empty, #work {
        display: none;
    }
  }

  /*tablet*/
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

        #empty, #work {
            display: none;
        }

        .grid {
            margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
        }
  }