*{
    font-size: 14px;
        font-family: Arial, sans-serif;
}

html {
    background-color: #EFEFEF;
}

@font-face {
    font-family: Akkurat;
    src: url(./Akkurat-Normal.otf);
}

@font-face {
    font-family: Akkurat Mono;
    src: url(./Akkurat-Mono.otf);
}

.name {
    font-family: Akkurat, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;;
}

p {
    font-family: Akkurat, Arial, Helvetica, sans-serif;
}

#index-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95vw;
    position: relative;
    margin: auto;
    align-items: center;
    overflow: hidden;

}

#description-index {
    display: none;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    position: relative;
    margin: auto;
    left:-.6rem;
    overflow: hidden;
}

.grid-buttons div {
    border: 1px black solid;
}

.grid-buttons div:hover {
    background-color: #ECFF7D;
    transition: .4s ease-in-out;
    cursor: pointer;
}

div .mobile-hidden:hover {
    background-color: #EFEFEF;
}

.grid-buttons p {
    text-align: center;
    font-size: 1rem;
}


a {
text-decoration: none;
cursor: pointer;
color: black;

}

.info-info p{
    width: 50vw;
    margin: auto;
    font-family: Akkurat Mono, monospace;
    font-size: 1.5rem;
}

.grid {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: start;
    column-gap: 1rem;
    width: 90vw;
    row-gap: 2rem;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(1deg); }
    100% { transform: rotate(-1deg); }
}

.grid div:hover {
    animation: wiggle .75s infinite;
    cursor: pointer;
}

img {
    object-fit:cover;
    width: 20rem;
    height: 25rem;
    object-position: top;
}

.type-of-work {
    font-family: Akkurat Mono, monospace;
    font-size: .8rem;
}

  /* smartphone */
  @media only screen and (max-width: 500px), (orientation: portrait) {
    .grid-buttons {
        display: grid;
        grid-template-columns: 1fr;
  }
  .mobile-hidden {
    display: none;
  };

  .grid {
    width: 95vw;
  }

  .info-info p {
    width: 90vw;
    font-size: 1rem;
  }
}